<?xml version='1.0' encoding='utf-8'?>
<settings>
  <run_mode>eigenvalue</run_mode>
  <particles>5000</particles>
  <batches>100</batches>
  <inactive>15</inactive>
  <source strength="1.0">
    <space type="fission">
      <parameters>-9.0 -9.0 -81.6725 9.0 9.0 81.6725</parameters>
    </space>
  </source>
  <temperature_method>interpolation</temperature_method>
  <temperature_range>250 2500</temperature_range>
</settings>
